<div ng-controller="GroupsCtrl">

    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <div ng-repeat="group in groups | orderBy:'subject'"
                     class="group list-group-item" ng-class="{ active: group.id == current_group }"
                     ng-click="setGroup(group.id)">
                  <strong>{{ group.subject || group.id|cutDomain }}</strong>
                  <div class="pull-right btn-group btn-group-xs" role="group" aria-label="Actions">
                     <button type="button" class="btn btn-default">
                       <span class="glyphicon glyphicon-comment" title="Send message"></span>
                     </button>
                     <button type="button" class="btn btn-default">
                       <span class="glyphicon glyphicon-edit" title="Edit subject"></span>
                     </button>
                     <button type="button" class="btn btn-default">
                       <span class="glyphicon glyphicon-plus" title="Add participants"></span>
                     </button>
                  </div>
                  <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="list-group">
              <div ng-if="participants.length" ng-repeat="participant in participants" class="group list-group-item">
                 {{ participant|cutDomain }}
                 <div class="pull-right btn-group btn-group-xs" role="group" aria-label="Actions">
                    <button type="button" class="btn btn-default">
                      <span class="glyphicon glyphicon-comment" title="Send message"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                      <span class="glyphicon glyphicon-minus" title="Delete"></span>
                    </button>
                 </div>
                 <div class="clearfix"></div>
              </div>
            </div>
        </div>

       <div class="col-md-4">
          <div class="pull-right btn-group" role="group" aria-label="Actions">
             <button type="button" class="btn btn-primary">
               <span class="glyphicon glyphicon-plus"></span>
               Add group
             </button>
          </div>
          <div class="clearfix"></div>
       </div>
    </div>

</div>
