<div ng-controller="GroupsCtrl">

    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <div ng-repeat="group in groups | orderBy:'subject'"
                     class="group list-group-item" ng-class="{ active: group.id == current_group }"
                     ng-click="setGroup(group.id)">
                  <strong>{{ group.subject || group.id|cutDomain }}</strong>
                  <div class="pull-right btn-group btn-group-xs" role="group" aria-label="Actions">
                     <button type="button" class="btn btn-default" ng-click="setGroupSubject(group)">
                       <span class="glyphicon glyphicon-edit" title="Edit subject"></span>
                     </button>
                     <button type="button" class="btn btn-default" ng-click="addGroupParticipants(group)">
                       <span class="glyphicon glyphicon-plus" title="Add participants"></span>
                     </button>
                  </div>
                  <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="list-group">
              <div ng-if="participants.length" ng-repeat="participant in participants" class="group list-group-item">
                 {{ participant|cutDomain }}
                 <div class="pull-right btn-group btn-group-xs" role="group" aria-label="Actions">
                    <button type="button" class="btn btn-default" ng-click="messageGroupParticipant(participant)">
                      <span class="glyphicon glyphicon-comment" title="Send message"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="delGroupParticipant(current_group,participant)">
                      <span class="glyphicon glyphicon-minus" title="Delete"></span>
                    </button>
                 </div>
                 <div class="clearfix"></div>
              </div>
            </div>
        </div>

       <div class="col-md-4">
          <div class="pull-right btn-group" role="group" aria-label="Actions">
             <button type="button" class="btn btn-primary" ng-click="addGroup()">
               <span class="glyphicon glyphicon-plus"></span>
               Add group
             </button>
          </div>
          <div class="clearfix"></div>
       </div>
    </div>

    <script type="text/ng-template" id="editGroup.html">
        <div class="modal-header">
           <h3 ng-if="!group.id" class="modal-title">Add new group</h3>
           <h3 ng-if="group.id" class="modal-title">Change group subject</h3>
        </div>
        <div class="modal-body">
           <form>
              <input type="hidden" class="form-control" id="group_id" ng-model="group.id" />
              <div class="form-group">
                <label for="subject">Group subject</label>
                <input type="text" class="form-control" id="subject" placeholder="Enter group subject" ng-model="group.subject" required />
              </div>
           </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="$close(group)">OK</button>
            <button class="btn btn-warning" ng-click="$dismiss('cancel')">Cancel</button>
        </div>
    </script>

</div>
