<div ng-controller="MessagesCtrl">

    <div class="row">
        <div class="col-md-4">
            <div id="conversations-list" class="list-group">
                <div ng-repeat="conversation in conversations | orderBy:'-last_timestamp'"
                     class="conversation list-group-item" ng-class="{ active: conversation.number == current_conversation }"
                     ng-click="setConversation(conversation.number)">
                  <span class="glyphicon" ng-class="conversation.is_group?'glyphicon-menu-hamburger':'glyphicon-user'"></span>
                  <strong>{{ conversation.display || conversation.number|cutDomain }}</strong>
                  <p class="time text-right">{{ conversation.last_timestamp*1000 | date:'yyyy/MM/dd HH:mm:ss' }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div ng-if="messages.length" ng-repeat="message in messages" id="messages-container">
                 <div class="bubble" ng-class="{ own: message.own }">

                   <div class="pull-right">
                     <div>[<span class="time">{{ message.timestamp*1000 | date:'yyyy/MM/dd HH:mm:ss' }}</span>]</div>

                     <div ng-if="!message.own" class="pull-right btn-group btn-group-xs" role="group" aria-label="Actions">
                        <button type="button" class="btn">
                          <span class="glyphicon glyphicon-check" title="Confirm read" ng-click="messageRead(message.id)"></span>
                        </button>
                     </div>
                   </div>

                   <div class="pull-left">
                      <div ng-if="message.participant && !message.own" class="participant">{{ message.notify || message.participant|cutDomain }}</span></div>
                      <a ng-if="message.url" href="{{ message.url }}" target="_blank">
                        <img ng-if="message.thumb" ng-src="{{ message.thumb }}" />
                        <span ng-bind-html="message.content"></span>
                      </a>
                      <span ng-if="!message.url">
                        <img ng-if="message.thumb" ng-src="{{ message.thumb }}" />
                        <span ng-bind-html="message.content"></span>
                      </span>
                   </div>

                   <div class="clearfix"></div>
                 </div>
            </div>
        </div>
    </div>

</div>
